body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #F0EFEB;
}

#app {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#pixi-container{
    border:12px solid #723d46;
    border-radius: 8px;
    display: block;
    -webkit-box-shadow: 0px 0px 24px -4px rgba(148, 149, 156, 1);
    -moz-box-shadow: 0px 0px 24px -4px rgba(148, 149, 156, 1);
    box-shadow: 0px 0px 24px -4px rgba(148, 149, 156, 1);
}

#pixi-container canvas {
    display: block;
}